@media screen and (max-width: 600px) {}

img{
  max-width: 10%;
  height: auto;
}

body{
  background-color: #006BB6;;
}


.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  text-size: 40px;
      font-family:Arial, Helvetica, sans-serif;
}



#date{
  display: inline;
}

.topnav {
  overflow: hidden;
  background-color: #C4CED4;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

.box {
  border-radius: 20px;
  border: 5px solid white;
  text-align: center;
  background-color: #ED174C;
  width: 70%;
  margin: 20px auto 20px auto;

    font-family:Arial, Helvetica, sans-serif;
}


.Player{
  display: inline;
}

.stat{
  display: inline;
 
}

a{
  text-decoration: none;
  color: black;
}


.title{
  background-Color:white; 
}